<nav>
  <div id="left">
    <h1><%= @current_user.workspace %></h1>
  </div>

  <div id="right">
    <div><%= link_to 'Woodshop', "/woodshop", class: 'navButton' %></div>
    <div><%= link_to 'Ply Shell Calculator', "/ply/new", class: 'navButton' %></div>
  </div>
</nav>
<section>
  <div class="form">
    <h1>Solid Cut Size Calculator</h1>
    <%= form_for :solid, url: { action: :create }, method: :post do |f| %>
      <li><%= f.number_field :diameter, placeholder: "Diameter" %></li>
      <li><%= f.number_field :depth, placeholder: "Depth" %></li>
      <li><%= f.number_field :scarf_length, placeholder: "Scarf Length" %></li>
      <li><%= f.text_field :species, placeholder: "Species" %></li>
      <li><%= f.text_field :thickness, placeholder: "Thickness"%></li>
      <li><%= f.submit 'Calculate'%></li>
    <% end %>
    <div class="list_submit">
      <% unless @solid.nil? %>
      <p>Your dimensions are: <%=@solid.length%>"x<%=@solid.width%>"</p>
      <%= button_to( "Add to cut list", :action => "create",
                                        shell_type: :steam,
                                        length: @solid.length ,
                                        height: @solid.width,
                                        drumsize: @solid.size,
                                        thickness: @solid.thickness,
                                        species: @solid.species,
                                        scarf_angle: "20",
                                        :controller => "cut")  %>
      <% end %>
    </div>
    </div>
</section>
