<%= form_for :ply, url: { action: :new }, method: :get do |f| %>
<%= f.label :size %>
<%= f.text_field :size %>
<%= f.label :species %>
<%= f.text_field :species %>
<%= f.label :thickness %>
<%= f.text_field :thickness %>
<%= f.submit 'Calculate'%>
<% end %>

<% unless @ply.nil? %>
<p>"Your dimensions are:<%= @ply.dimensions %></p>
<% end %>
