<%= form_for :ply, url: { action: :create }, method: :post do |f| %>
<%= f.label :diameter %>
<%= f.text_field :diameter %>
<%= f.label :depth %>
<%= f.text_field :depth %>
<%= f.label :species %>
<%= f.text_field :species %>
<%= f.label :thickness %>
<%= f.text_field :thickness %>
<%= f.submit 'Calculate'%>
<% end %>

<% unless @ply.nil? %>
<p>"Your dimensions are: <%= @ply.dimensions %>"</p>
<%= button_to 'Add to cut list' %>
<% end %>
