<nav>
  <div id="left">
    <h1><%= @current_user.workspace %></h1>
  </div>

  <div id="right">
    <div><%= link_to 'Ply Shell Calculator', "/ply/new", class: 'navButton' %></div>
    <div><%= link_to 'Solid Shell Calculator', "/solid/new", class: 'navButton' %></div>
  </div>
</nav>

<section>
  <div id="cut_list">
    <h1> Cut List </h1>
    <% unless @current_user.cuts.first == nil %>
      <% @current_user.cuts.each do |cut| %>
        <div id="cut-<%= cut.id %>">
          <%= cut.drumsize %> <%= cut.species %> <%= cut.length %>"x<%= cut.height %>"x<%= cut.scarf_angle%>°
          <%= link_to "Finished", "/cut/#{cut.id}", method: :delete , class: 'navButton' %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="scraps">
    <h1> Scraps </h1>
    <% unless @current_user.cuts.first == nil %>
      <% @current_user.scraps.each do |scrap| %>
      <div id="scrap-<%= scrap.id %>">
        <%= scrap.species %> <%= scrap.length %>"x<%= scrap.width %>"x<%= scrap.thickness %>"
        <%= link_to "Toss it", "/scrap/#{scrap.id}", method: :delete , class: 'navButton' %>
      </div>
      <% end %>
    <% end %>
    <div><%= link_to 'Add Scrap', "/scrap/new", class: 'navButton' %></div>
  </div>
</section>
